{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    111
</div>
<div style="box-shadow: 0px 0px 10px 1px #eee;border: 1px #000 solid;" class="container pt-4 pb-2 mb-4">
<h1 style="font-weight: bold;" class="ml-5 mt-3">shipping details</h1>
<h5  class="ml-5">*All fields are required</h5>
<div class="mt-4 checkout" style="display: grid;grid-template-columns: 50% 50%;">

<div class="ml-5" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">First Name*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Last Name*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5 mt-4" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Address*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5 mt-4" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Gmail*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5 mt-4" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Place*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5 mt-4" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Phone1*</label>    
    <input type="text" style="height: 40px;">
</div>

<div class="ml-5 mt-4" style="width: 82%;">
    <label class="text-dark" style="font-size: 16px;">Phone2*</label>    
    <input type="text" style="height: 40px;">
</div>


</div>

<hr class="mt-5 ml-5 mr-5">

<button class="text-light bg-dark mt-4 mb-4 ml-5" style="padding: 4px 10px;font-size: 16px;border-radius: 4px;">To Payment Page</button>

</div>



{% endblock content%}
