{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-md-5 mb-4 images">
      <div class="product_img">
        <div class="main w-100  col-10">
          {% if product_detail.MainImage %}
            <img height="380px"
                 src="{{ product_detail.MainImage.url }}"
                 name="main"
                 alt="">
          {% endif %}
        </div>
        <div class="photos col-2">
          <img onclick="main.src = this.src"
               style="margin-top: 40px"
               width="50px"
               height="50px"
               src="{{ product_detail.MainImage.url }}"
               alt="">
          {% if product_detail.image2 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image2.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
          {% if product_detail.image3 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image3.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
          {% if product_detail.image4 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image4.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
        </div>
      </div>
      <div class="share_product mt-4" style="margin-left: 40px;">
        <span style="margin-top: 10px;font-weight: 600;font-size: 18px;">SHARE THIS PRODUCT :</span>
        <br>
        <a class="btn text-white btn-floating m-1 mt-3"
           style="background-color: #3b5998;
                  border-radius: 50%;
                  font-size: 20px;
                  width: 40px;
                  height: 40px"
           href="#!"
           role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn text-white btn-floating m-1 mt-3"
           style="background-color: #55acee;
                  border-radius: 50%;
                  font-size: 20px"
           href="#!"
           role="button">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <div class="col-md-7 mb-4 informations">
      <div style="display: flex;justify-content: end;">
        <i class="fa-regular fa-heart favo"
           style="margin-right: 40px;
                  font-size: 30px"
           data-bs-toggle="modal"
           data-bs-target="#exampleModal"></i>
      </div>
      <div class="modal fade"
           id="exampleModal"
           tabindex="-1"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="head_model">
              <h1 style="margin-left: 10px;
                         margin-top: 8px"
                  class="modal-title fs-5"
                  id="exampleModalLabel">Please select a variation</h1>
              <button style="margin-left: 230px;
                             margin-top: 8px"
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin-top: 10px;">
              <div class="size-button">
                <button class="size-option">S</button>
                <button class="size-option">M</button>
                <button class="size-option">L</button>
                <button class="size-option">XL</button>
                <button class="size-option">XXL</button>
              </div>
            </div>
            <button @click="isfavorite = !isfavorite"  class="btn btn-danger m-3">
              ADD TO FAVORITE LIST
              <i class="fa-regular fa-heart"
                 style="color: #fff;
                        font-size: 22px;
                        transform: translate(10%,10%)"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="p-4">
        <div class="d-flex">
          <span class="bdg">Official Store</span>
        </div>
        <strong>
          <h5 style="font-size: 20px; margin-top: 8px;">{{ product_detail }}</h5>
        </strong>
        {% if product_detail.brand %}
          <h6>
            Brand: {{ product_detail.brand }} | <a href="#" class="outher">Similar products from {{ product_detail.brand }}</a>
          </h6>
        {% endif %}
        <div class="rating">
          <div class="star-rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <h6 class="rate mt-2">(No ratings available)</h6>
        </div>
        <div class="mb-3 mt-3">
          {% if product_detail.discountprice > 0 %}
            <a href="">
              <span class="badge bg-success me-1"
                    style="font-size: 14px;
                           border-radius: 4px">SALE</span>
            </a>
          {% endif %}
          {% if product_detail.new %}
            <a href="">
              <span class="badge bg-info me-1" style="font-size: 14px;">NEW</span>
            </a>
          {% endif %}
          {% if product_detail.bestseller %}
            <a href="">
              <span class="badge bg-danger me-1" style="font-size: 14px;">BestSeller</span>
            </a>
          {% endif %}
        </div>
        <hr>
        <h6>
          <span style="font-size: 22px;font-weight: 600;">Price :</span>
          {% if product_detail.discountprice > 0 %}
            <span style="margin-left: 4px;font-size: 20px;">{{ product_detail.discountprice }}</span>
            <span style="font-size: 20px;font-weight: 500;margin-left: 4px;">instead of</span>
            <span class="me-1">
              <del style="margin-left: 4px;font-size: 20px;">{{ product_detail.price }}</del>
            </span>
          {% else %}
            <span style="margin-left: 4px;font-size: 20px;">{{ product_detail.price }}</span>
          {% endif %}
        </h6>
        <h4>Description</h4>
        <span style="font-size: 14px;">{{ product_detail.description }}</span>
      </div>
      <hr>
      <div class="sizes">
        <!-- <strong><p>VARIATION AVAILABLE</p></strong> -->
        <h5 style="font-weight: bold;">
          VARIATION AVAILABLE
        </h5>
        <div class="size-button" style="margin-top: 25px;">
          <button class="size-option">
            S
          </button>
          <button class="size-option">
            M
          </button>
          <button class="size-option">
            L
          </button>
          <button class="size-option">
            XL
          </button>
          <button class="size-option">
            XXL
          </button>
        </div>
      </div>
      <form class="d-flex justify-content-between" style="margin-top: 30px;">
        <!-- Default input -->
        <div class="form-outline me-1 d-flex" style="width: 150px;">
          <span class="count">Quantity  :</span>
          <input style="margin-left: 4px;
                        width: 120px"
                 type="number"
                 value="1"
                 class="form-control"
                 min="1" />
        </div>
        <button class="btn btn-primary ms-1 cart" type="submit">
          Add to cart
          <i class="fas fa-shopping-cart ms-1"></i>
        </button>
      </form>
    </div>
  </div>
{% endblock %}
