{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}


  <div id="single">
    <div class="row d-flex" style="background-color: #fff;">
      <div class="row col-md-9 mt-2 contain">
        <div class="track_product">
          <nav class="track"
               style="--bs-breadcrumb-divider: '/'"
               aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a style="text-decoration: none;" href="#">Home</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <a style="text-decoration: none;" href="#">phones</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <a style="text-decoration: none;" href="#">i phone</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a style="text-decoration: none;" href="#">i phone11 pro max</a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-md-6 mb-4 images">
          <div class="product_img">
            <div class="main">
              {% if product_detail.MainImage %}<img src="{{ product_detail.MainImage.url }}" name="main" alt="">{% endif %}
            </div>
            <div class="photos mt-2 w-100">
              <img onclick="main.src = this.src"
                   width="50px"
                   height="50px"
                   src="{{ product_detail.MainImage.url }}"
                   alt="">
              {% if product_detail.image2 %}
                <img onclick="main.src = this.src"
                     width="50px"
                     height="50px"
                     src="{{ product_detail.image2.url }}"
                     alt="">
              {% else %}
                <img onclick="main.src = this.src"
                     src="{% static 'images/default.png' %}"
                     width="50px"
                     height="50px"
                     alt="" />
              {% endif %}
              {% if product_detail.image3 %}
                <img onclick="main.src = this.src"
                     width="50px"
                     height="50px"
                     src="{{ product_detail.image3.url }}"
                     alt="">
              {% else %}
                <img onclick="main.src = this.src"
                     src="{% static 'images/default.png' %}"
                     width="50px"
                     height="50px"
                     alt="" />
              {% endif %}
              {% if product_detail.image4 %}
                <img onclick="main.src = this.src"
                     width="50px"
                     height="50px"
                     src="{{ product_detail.image4.url }}"
                     alt="">
              {% else %}
                <img onclick="main.src = this.src"
                     src="{% static 'images/default.png' %}"
                     width="50px"
                     height="50px"
                     alt="" />
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4  informations">
          <div class="p-3">
            <h5 style="font-size: 34px; margin-top: 8px;font-weight: bold;">{{ product_detail }}</h5>
            <h6 class="mt-4">
              Upgrade your life with the powerful, intuitive, and stylish iPhone - a device for every
              occasion
            </h6>
            <div class="rating">
              <div class="star-rating">
                <span style="font-size: 16px;color: rgb(236, 202, 5);" class="star">{{stars}}</span>
              </div>
              <h6 class="rate" style="margin-top: 5px;font-size: 12px;">(No ratings available)</h6>
            </div>
            <h6>
              {% if product_detail.discountprice > 0 %}
                <span class="me-1">
                  <del style="margin-left: 4px;font-size: 18px;">${{ product_detail.price }} </del>
                </span>
                <span style="margin-left: 4px;font-size: 24px;color: rgb(173, 58, 58);">${{ product_detail.discountprice }}</span>
                <span style="margin-left: 5px;font-size: 16px;">50% off |</span>
              {% else %}
                <span style="margin-left: 4px;font-size: 20px;">${{ product_detail.price }}</span>
              {% endif %}
            </h6>
            <hr>
            <!-- Default input -->
            <div>
              <div class="d-flex">
                <div class="quantity">
                  <button class="minus" @click="decrement">-</button>
                  <label class="num">[[ quantity ]]</label>
                  <button class="plus" @click="increment">+</button>
                </div>
                <strong>
                  <p class="tquant">
                    only <a style="color: orange;">{{ product_detail.quantity }} items</a> left!
                    <br>
                    Don't miss it
                  </p>
                </strong>
              </div>
              <form class="d-flex" style="margin-top: 30px;">
                <button class="buy">Buy Now</button>
                <div class="btn btn-outline-success cart">Add To Cart</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 sel">
        <div class="seller d-flex mb-4" style="width: 100px;">
          <img src="{% static 'images/seller.png' %}"
               class="sell"
               width="65px"
               height="65px">
          <p style="white-space: nowrap;margin-top: 26px;">
            Sold By<a href="#">{{ product_detail.brand }}</a>
          </p>
          <p class="per">
            <a class="evalution" style="color: #fff;">4.6<span style="font-size: 14px;">&#9733;</span> </a>91% Positive
            Rating
          </p>
        </div>
        <hr>
        <div class="delivery">
          <div class="d-flex mt-2">
            <img src="{% static 'images/return.png' %}" class="car">
            <p style="font-weight: bold;font-size: 14px;" class="return">FREE RETURNS</p>
            <p class="treturn">Get free returns on eligible items</p>
          </div>
          <div class="d-flex mt-4">
            <img src="{% static 'images/security.png' %}" class="car">
            <p style="font-weight: bold;font-size: 14px;" class="security">TRUSTED SHIPPING</p>
            <p class="tsecurity">Your data is always protected</p>
          </div>
          <div class="d-flex mt-4" style="margin-left: 6px;">
            <img src="{% static 'images/ok.png' %}" class="car">
            <p style="font-weight: bold;font-size: 14px;" class="quality">
              HIGH QUALITY
            </p>
            <p class="tquality">
              Our quality speaks for itself
            </p>
          </div>
        </div>
        <hr>
        <div class="advan d-flex">
          <div style="margin-left: 40px;">
            <img src="{% static 'images/car shipping.png' %}"
                 class="car"
                 width="65px"
                 height="65px">
            <span style="font-weight: bold;"> SpeedShipping</span>
          </div>
          <div style="margin-left: 50px;">
            <img src="{% static 'images/honor.png' %}"
                 class="honor"
                 width="65px"
                 height="65px">
            <span style="font-weight: bold;font-size: 17x;"> 100%Genuine</span>
          </div>
        </div>
      </div>

    </div>
    <div style="width: 100%;height: 20px;background-color: #e5e0e0;z-index: -10;"></div>
    <div class="product_detail" style="margin-top: 8px;">
      <ul class="tabs-choose">
        <li @click="activeTab = '1'"
            :class="[activeTab === '1' ? 'active' : '' ]">
          OVERVIEW
        </li>
        <li @click="activeTab = '2'"
            :class="[activeTab === '2' ? 'active' : '' ]">
          REVIEWS
        </li>
      </ul>
      <div class="tabs-content">
        <div class="content-one" v-if="activeTab==='1' ">
        
          <div class="over d-md-flex bg-light">

          <div class="d-flex allrate col-xl-8 col-lg-7  col-md-7 col-sm-12">

          <div class="mt-4 Grate col-xl-6 col-lg-12 col-md-12 col-sm-12">
       <div class="d-flex justify-content-center">
        <img  src="{% static 'images/starR.png' %}" class="ml-2" style="width: 40px;height: 40px;margin-top: 8px;" alt="photo">

          <h1 class="overall text-dark ml-2 mt-1  justify-content-center" style="font-weight: bold;font-size: 38px;white-space: nowrap;">Overall Rating</h1>
          <img  src="{% static 'images/starR.png' %}" class="ml-3" style="width: 40px;height: 40px;margin-top: 11px;" alt="photo">
        </div>
          <div class="rate d-flex justify-content-center mt-2">
           
          <h1 style="color: rgb(26, 166, 26);font-size: 50px;">{{average_rate}}</h1>

          <div class="star-rating mt-2 ml-3">
            <span style="font-size: 28px;color:#ecca05;" class="star">{{stars}}</span>

        </div>
        <div class="d-block">
          <p class="mt-4 numRate">{{num_items}} Reviews</p>
        </div>
        </div>
        <div class="d-flex justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          
          </svg>
          <div style="width: 400px;height: 50px;margin-left: 0;align-items: center;" class="d-flex alert alert-primary" role="alert">
            <svg style="height: 20px; width:20px;" class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
              <h6 style="margin-top: 8px;word-break: normal;">There are {{num_items}} customer reviews and 12 customer ratings.</h6>
            </div>
          </div>
        </div>
    
        
       </div>
       <!-- itate -->
          <div class="Irate col-xl-6" style="margin-top: 48px;">

          <div class="d-flex">
            <label style="font-size: 15px;">5</label>
            <span style="font-size: 14px;margin: 0 2px;" class="star text-success">&#9733;</span>
           
            <div class="progress m-2" style="height: 8px;width: 76%;" role="progressbar" aria-label="Basic example" :aria-valuenow="Rate5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" :style="{ width: Rate5*1.4 + '%' }"></div>
            </div>

          <label style="font-size: 14px;">( {{rate5}} )</label>
          </div>
          <div class="d-flex">
            <label style="font-size: 15px;">4</label>
            <span style="font-size: 14px;margin: 0 2px;color: #3ec63e;" class="star">&#9733;</span>
            <div class="progress m-2" style="height: 8px;width: 76%;" role="progressbar" aria-label="Basic example" :aria-valuenow="Rate5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="background: #3ec63e;" :style="{ width: Rate4*1.4 + '%' }"></div>
            </div>
           <label style="font-size: 14px;">( {{rate4}} )</label>
          </div>
          <div class="d-flex">
            <label style="font-size: 15px;">3</label>
            <span style="font-size: 14px;margin: 0 2px;color: #c69f11;" class="star">&#9733;</span>
            <div class="progress m-2" style="height: 8px;width: 76%;" role="progressbar" aria-label="Basic example" :aria-valuenow="Rate5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="background: #c69f11;" :style="{ width: Rate3*1.4 + '%' }"></div>
            </div>
           <label style="font-size: 14px;">( {{rate3}} )</label>
          </div>
          <div class="d-flex">
            <label style="font-size: 15px;">2</label>
            <span style="font-size: 14px;margin: 0 2px;" class="star text-warning">&#9733;</span>
            <div class="progress m-2" style="height: 8px;width: 76%;" role="progressbar" aria-label="Basic example" :aria-valuenow="Rate5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-warning" :style="{ width: Rate2*1.4 + '%' }"></div>
            </div>
           <label style="font-size: 14px;">( {{rate2}} )</label>
          </div>
          <div class="d-flex">
            <label style="font-size: 15px;">1</label>
            <span style="font-size: 14px;margin: 0 2px;" class="star text-danger">&#9733;</span>
            <div class="progress m-2" style="height: 8px;width: 76%;" role="progressbar" aria-label="Basic example" :aria-valuenow="Rate5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-danger" :style="{ width: Rate1*1.4 + '%' }"></div>
            </div>
           <label style="font-size: 14px;">( {{rate1}} )</label>
          </div>

          </div>

</div>
       

<div class="Hrate col-sm-12 col-md-5 col-lg-5 col-xl-4">
  <div>
<p style="font-weight: bold;">How do I review this product?</p>
  <p style="font-size: 13px;">If you recently purchased this product, you can go to your Orders page and click on the Submit Review button
  </p>
</div>

<div class="d-block">
 <p style="font-weight: bold;">Where do the reviews come from?</p>
  <p style="font-size: 13px;">Our reviews come from customers who purchased the product and submitted a review
  </p>
</div>

</div>


        </div>


        <hr>
<div class="mt-4 d-flex justify-content-center">
    <img  src="{% static 'images/re.webp' %}" class="mr-3" style="width: 40px;height: 40px;margin-top: 11px;" alt="photo">
    <h1 style="font-size: 38px;font-weight: bold;white-space: nowrap;">Reviews</h1>
    <img  src="{% static 'images/re.webp' %}" class="ml-3" style="width: 40px;height: 40px;margin-top: 11px;" alt="photo">

    </div>
      <div  style="display: grid;grid-template-rows: repeat(2, 1fr);grid-column-gap: 20px;">

 <!-- <div class="swiper mySwiper">
    <div class="swiper-wrapper mt-5">
       {% for x in user_review %}
      <div class="swiper-slide">
      
        <div class="client_img mt-3"><img src="{% static 'images/client-img.png' %}" alt="photo"></div>

        <h3 class="name_text mt-3" style="margin-left: 66px;">{{x.name}}</h3>
   
      <div class="star-rating">
        <span style="font-size: 20px;margin: 2px 2px;color: rgb(236, 202, 5);margin-left: 126px;" class="star">{{x.rate| stars }}</span>
      </div>
      <p style="color: #000;">{{x.review}}</p>

      <p class="date-review mt-2 ml-4">{{ x.formatted_date }}</p>
  
     

     

    </div>
    {% endfor %} 
  </div> -->

          {% for x in user_review %}
          <div class="ConReview">

            <div class="mt-5 d-flex justify-content-center">

        <div class="client_main" style="width: 80%;padding-bottom: 32px;">
          <div class="client_left">
             <div class="client_img"><img src="{% static 'images/client-img.png' %}" alt="photo"></div>
          </div>
          <div class="client_right" style="padding-top: 34px;">
             <h3 class="name_text">{{x.name}}</h3>
         
             <div class="star-rating">
              <span style="font-size: 14px;margin: 2px 2px;color: rgb(236, 202, 5);" class="star">{{x.rate| stars }}</span>
            </div>
            <p class="ml-4 text-dark" style="font-size: 12px;position: absolute;transform: translate(120%,-178%);">{{ x.formatted_date }}</p>

           
 
             <p class="dolor_text mt-3">{{x.review}}</p>
          </div>
       </div>
      </div>
    </div>
       
        {% endfor %}



 {% if user_review.has_other_pages %}

 <div class="d-flex mb-4 mt-5" style="justify-content: center;">

 
   {% if user_review.has_previous %}
   <a href="?page={{user_review.previous_page_number}}">
   <button class="previous_button">
    <svg class="arrow mr-4" style="rotate: 180deg;" width="14" height="14" viewBox="0 0 20 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.578 17.4999L2.44953 0.418773C1.88833 -0.140542 0.979743 -0.139601 0.419488 0.421666C-0.140333 0.982862 -0.138887 1.89196 0.422381 2.45171L16.5313 18.5162L0.421802 34.5806C-0.139393 35.1404 -0.14084 36.0489 0.418909 36.6102C0.69976 36.8916 1.06769 37.0322 1.43563 37.0322C1.80262 37.0322 2.16911 36.8925 2.44946 36.6131L19.578 19.5324C19.8483 19.2635 20 18.8975 20 18.5162C20 18.1349 19.8479 17.7693 19.578 17.4999Z" fill="black"></path></svg>
    Previous Page
  </button>
  </a>

   {% else %}
   <button disabled class="previous_button">
    <svg class="arrow mr-2" id="arrow" style="rotate: 180deg;" width="14" height="14" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg">
      <path  d="M19.578 17.4999L2.44953 0.418773C1.88833 -0.140542 0.979743 -0.139601 0.419488 0.421666C-0.140333 0.982862 -0.138887 1.89196 0.422381 2.45171L16.5313 18.5162L0.421802 34.5806C-0.139393 35.1404 -0.14084 36.0489 0.418909 36.6102C0.69976 36.8916 1.06769 37.0322 1.43563 37.0322C1.80262 37.0322 2.16911 36.8925 2.44946 36.6131L19.578 19.5324C19.8483 19.2635 20 18.8975 20 18.5162C20 18.1349 19.8479 17.7693 19.578 17.4999Z" />
    </svg>

    Previous Page
  </button>

   {% endif %}


   {% if user_review.has_next %}
   <a href="?page={{user_review.next_page_number}}" >
   <button class="next_button" style="width: 165px; height: 50px;margin-left: 20px;font-weight: bold;border-radius: 4px;display: flex;justify-content: center;align-items: center;padding-left: 6px;font-family: sans-serif;padding-top: 2px;">
    Next Page
    <svg class="arrow ml-2" width="14" height="14" viewBox="0 0 20 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.578 17.4999L2.44953 0.418773C1.88833 -0.140542 0.979743 -0.139601 0.419488 0.421666C-0.140333 0.982862 -0.138887 1.89196 0.422381 2.45171L16.5313 18.5162L0.421802 34.5806C-0.139393 35.1404 -0.14084 36.0489 0.418909 36.6102C0.69976 36.8916 1.06769 37.0322 1.43563 37.0322C1.80262 37.0322 2.16911 36.8925 2.44946 36.6131L19.578 19.5324C19.8483 19.2635 20 18.8975 20 18.5162C20 18.1349 19.8479 17.7693 19.578 17.4999Z" fill="black"></path></svg>
  </button>
</a>

   {% else %}
  
   <button disabled class="next_button disabled" style="width: 165px; height: 50px;margin-left: 20px;font-weight: bold;border-radius: 4px;display: flex;justify-content: center;align-items: center;padding-left: 6px;font-family: sans-serif;padding-top: 2px;">
    Next Page
    <svg class="arrow ml-2" id="arrow" width="14" height="14" viewBox="0 0 20 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.578 17.4999L2.44953 0.418773C1.88833 -0.140542 0.979743 -0.139601 0.419488 0.421666C-0.140333 0.982862 -0.138887 1.89196 0.422381 2.45171L16.5313 18.5162L0.421802 34.5806C-0.139393 35.1404 -0.14084 36.0489 0.418909 36.6102C0.69976 36.8916 1.06769 37.0322 1.43563 37.0322C1.80262 37.0322 2.16911 36.8925 2.44946 36.6131L19.578 19.5324C19.8483 19.2635 20 18.8975 20 18.5162C20 18.1349 19.8479 17.7693 19.578 17.4999Z" fill="black"></path></svg>
  </button>


   {% endif %}

</div>
{% endif %}
</div>
   

        </div>
 
   
 
 


        <div class="content-one" v-if="activeTab==='2' ">
          Content Two
        </div>
      </div>
    </div>




    <div  style="width: 100%;background-color: #e5e0e0;z-index: -10;padding-top: 18px;height: fit-content;">
      <h1 style="font-weight: bold;margin-top:40px;margin-left: 50px;">How about these?</h1>
   
      <div class="mySwiperslide" style="width: 920px;">
        <div class="swiper-wrapper"style="width: 1000px;" >
          <div class="swiper-slide">
            <div class="product_box">
              <h4 class="bursh_text">Beauty Bursh</h4>
              <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
              <img src="{% static 'images/img-3.png' %}" class="image_1">
              <div class="btn_main">
                 <div class="buy_bt">
                    <ul>
                       <li class="active"><a href="#">Buy Now</a></li>
                       <li><a href="#">Buy Now</a></li>
                    </ul>
                 </div>
                 <h3 class="price_text">Price $30</h3>
              </div>
           </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <h4 class="bursh_text">Beauty Bursh</h4>
              <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
              <img src="{% static 'images/img-3.png' %}" class="image_1">
              <div class="btn_main">
                 <div class="buy_bt">
                    <ul>
                       <li class="active"><a href="#">Buy Now</a></li>
                       <li><a href="#">Buy Now</a></li>
                    </ul>
                 </div>
                 <h3 class="price_text">Price $30</h3>
              </div>
           </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <h4 class="bursh_text">Beauty Bursh</h4>
              <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
              <img src="{% static 'images/img-3.png' %}" class="image_1">
              <div class="btn_main">
                 <div class="buy_bt">
                    <ul>
                       <li class="active"><a href="#">Buy Now</a></li>
                       <li><a href="#">Buy Now</a></li>
                    </ul>
                 </div>
                 <h3 class="price_text">Price $30</h3>
              </div>
           </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <h4 class="bursh_text">Beauty Bursh</h4>
              <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
              <img src="{% static 'images/img-3.png' %}" class="image_1">
              <div class="btn_main">
                 <div class="buy_bt">
                    <ul>
                       <li class="active"><a href="#">Buy Now</a></li>
                       <li><a href="#">Buy Now</a></li>
                    </ul>
                 </div>
                 <h3 class="price_text">Price $30</h3>
              </div>
           </div>
          </div>
          <div class="swiper-slide">
            <div class="product_box">
              <h4 class="bursh_text">Beauty Bursh</h4>
              <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
              <img src="{% static 'images/img-3.png' %}" class="image_1">
              <div class="btn_main">
                 <div class="buy_bt">
                    <ul>
                       <li class="active"><a href="#">Buy Now</a></li>
                       <li><a href="#">Buy Now</a></li>
                    </ul>
                 </div>
                 <h3 class="price_text">Price $30</h3>
              </div>
           </div>
          </div>

      </div>
    </div>
    <div  style="width: 100%;background-color: #e5e0e0;z-index: -10;padding-top: 18px;height: 100px;">
    </div>
     
  </div>

  <div class="footer_section layout_padding">
    <div class="container">
       <div class="footer_logo"><a href="{% url 'index' %}"><img src="{% static 'images/footer-logo.png' %}"></a>
       </div>
       <div class="contact_section_2">
          <div class="row">
             <div class="col-sm-4">
                <h3 class="address_text">Contact Us</h3>
                <div class="address_bt">
                   <ul>
                      <li>
                         <a href="#">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left10">Address
                               :
                               Loram Ipusm</span>
                         </a>
                      </li>
                      <li>
                         <a href="#">
                            <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Call : +01
                               1234567890</span>
                         </a>
                      </li>
                      <li>
                         <a href="#">
                            <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left10">Email :
                               demo@gmail.com</span>
                         </a>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col-sm-4">
                <div class="footer_logo_1"><a href="{% url 'index' %}"><img
                         src="{% static 'images/footer-logo.png' %}"></a></div>
                <p class="dummy_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                   esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
             </div>
             <div class="col-sm-4">
                <!-- <div class="main">
                   <h3 class="address_text">Best Products</h3>
                   <p class="ipsum_text">dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                </div> -->
             </div>
          </div>
       </div>
       <div class="social_icon">
          <ul>
             <li>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
             </li>
             <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
             </li>
             <li>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
             </li>
             <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
             </li>
          </ul>
       </div>
    </div>
   
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="copyright_section" style="padding-bottom: 40px;">
  <div class="container">
     <p class="copyright_text">2023 All Rights Reserved. Design by Abdalla Omar
  </div>
 </div>
  </div> 



  


  <script>

  var count = JSON.parse('{{ product_detail.quantity |safe }}');

  var rate5 = JSON.parse('{{ rate5 |safe }}');
  var rate4 = JSON.parse('{{ rate4 |safe }}');
  var rate3 = JSON.parse('{{ rate3 |safe }}');
  var rate2 = JSON.parse('{{ rate2 |safe }}');
  var rate1 = JSON.parse('{{ rate1 |safe }}');
</script>



{% endblock content%}
