{% extends 'base.html' %}
{% load static %}
{% block content %}

<div  id="single">

<div class="row d-flex" style="background-color: #fff;">

  <div class="row col-md-9 mt-2 contain">


    <div class="track_product">
      <nav class="track"  style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a  style="text-decoration: none;" href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page"><a  style="text-decoration: none;"   href="#">phones</a></li>
          <li class="breadcrumb-item" aria-current="page"><a  style="text-decoration: none;" href="#">i phone</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a  style="text-decoration: none;"  href="#">i phone11 pro max</a></li>
        </ol>
      </nav>
    </div> 

    <div class="col-md-6 mb-4 images">
    
      <div class="product_img">
        <div class="main">
          {% if product_detail.MainImage %}
            <img src="{{ product_detail.MainImage.url }}"
                 name="main"
                 alt="">
          {% endif %}
        </div>
        <div class="photos mt-2 w-100">
          <img onclick="main.src = this.src"
               width="50px"
               height="50px"
               src="{{ product_detail.MainImage.url }}"
               alt="">
          {% if product_detail.image2 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image2.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
          {% if product_detail.image3 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image3.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
          {% if product_detail.image4 %}
            <img onclick="main.src = this.src"
                 width="50px"
                 height="50px"
                 src="{{ product_detail.image4.url }}"
                 alt="">
          {% else %}
            <img onclick="main.src = this.src"
                 src="{% static 'images/default.png' %}"
                 width="50px"
                 height="50px"
                 alt="" />
          {% endif %}
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-4  informations">
     
      <div class="p-3">
          <h5 style="font-size: 34px; margin-top: 8px;font-weight: bold;">{{ product_detail }}</h5>
          <h6 class="mt-4">Upgrade your life with the powerful, intuitive, and stylish iPhone - a device for every occasion</h6>
        <div class="rating">
          <div class="star-rating">
            <span style="font-size: 16px;"  class="star">&#9733;</span>
            <span style="font-size: 16px;"  class="star">&#9733;</span>
            <span style="font-size: 16px;"  class="star">&#9733;</span>
            <span style="font-size: 16px;"  class="star">&#9733;</span>
            <span style="font-size: 16px;" class="star">&#9733;</span>
          </div>
          <h6 class="rate" style="margin-top: 5px;font-size: 12px;">(No ratings available)</h6>
        </div>
        <h6>
          {% if product_detail.discountprice > 0 %}
          <span class="me-1">
            <del style="margin-left: 4px;font-size: 18px;">${{ product_detail.price }} </del>
          </span>
            <span style="margin-left: 4px;font-size: 24px;color: rgb(173, 58, 58);">${{ product_detail.discountprice }}</span>
            <span style="margin-left: 5px;font-size: 16px;"> 50% off |</span>

          
          {% else %}
            <span style="margin-left: 4px;font-size: 20px;">${{ product_detail.price }}</span>
          {% endif %}
        </h6>
    
      <hr>


        <!-- Default input -->
        <div>
          <div class="d-flex">
           <div class="quantity">
          <button class="minus" @click="decrement">-</button>
         <label class="num"> <% quantity %> </label>
          <button class="plus"  @click="increment">+</button>
        </div>
        <strong><p class="tquant">only <a style="color: orange;">{{ product_detail.quantity}} items </a> left! <br> Don't miss it</p></strong>
      </div>

        <form class="d-flex" style="margin-top: 30px;">
      <button class="buy">Buy Now</button>
      <div class="btn btn-outline-success cart">Add To Cart</div>
      </form>
    </div>
  </div>
    </div>
  </div>

  <div class="col-md-3 seller_infrmation">
<div class="seller d-flex mb-4" style="width: 100px;">
  <img src="{%static 'images/seller.png' %}" class="sell" width="65px" height="65px">
  
  <p style="white-space: nowrap;margin-top: 26px;">Sold By<a href="#"> {{ product_detail.brand }}</a></p>

  <p class="per"><a class="evalution" style="color: #fff;">4.6<span style="font-size: 14px;">&#9733;</span> </a>91% Positive Rating</p>
</div>
<hr>
<div class="delivery">
  <div class="d-flex mt-2">
    <img src="{%static 'images/return.png' %}" class="car" width="60px" height="60px">
    <p style="font-weight: bold;font-size: 14px;" class="return">FREE RETURNS</p>
    <p  class="treturn">Get free returns on eligible items</p>
    </div>
  <div class="d-flex mt-4">
<img src="{%static 'images/security.png' %}" class="car" width="65px" height="65px">
<p style="font-weight: bold;font-size: 14px;" class="security">TRUSTED SHIPPING</p>
<p  class="tsecurity">
  Your data is always protected</p>
</div>

<div class="d-flex mt-4" style="margin-left: 6px;">
  <img src="{%static 'images/ok.png' %}" class="car" width="60px" height="60px">
  <p style="font-weight: bold;font-size: 14px;" class="quality">HIGH QUALITY</p>
  <p  class="tquality">Our quality speaks for itself</p>
  </div>

</div>
<hr>
    <div class="advan d-flex">
      <div style="margin-left: 40px;">
    <img src="{%static 'images/car shipping.png' %}" class="car" width="65px" height="65px">
    <span style="font-weight: bold;"> SpeedShipping</span>
  </div>
  <div style="margin-left: 50px;">
    <img src="{%static 'images/honor.png' %}" class="honor" width="65px" height="65px">

    <span style="font-weight: bold;font-size: 17x;"> 100%Genuine</span>
  </div>
  </div>

  </div>





</div>

<div class="product_detail">
  <ul class="tabs-choose">
    <li @click="activeTab = '1'" :class="[activeTab === '1' ? 'active' : '' ]">OVERVIEW</li>
    <li @click="activeTab = '2'" :class="[activeTab === '2' ? 'active' : '' ]">REVIEWS</li>
   </ul>

  <div class="tabs-content">
    <div class="content-one" v-if="activeTab==='1' " >Content One</div>
  <div class="content-one" v-if="activeTab==='2' ">Content Two</div>
  </div>
     

</div>




</div>



 <script src="{% static 'js/vue.js' %}"></script>

  <script>
    var count = JSON.parse('{{ product_detail.quantity |safe }}');
</script>
 
  <script>
    var vm = new Vue({
      el: '#single',
      data: {
        quantity:1,
        count:count,
        activeTab:"1",
      },
        
  delimiters: ["<%","%>"],


  methods: {
    increment() {
      if (this.quantity < count ) {
      this.quantity++;
    }
    },
    decrement() {
      if (this.quantity > 1) {
        this.quantity--;
      }
    },
  }

})

</script> 
 {% endblock %}
